@layer components {
  .checkbox {
    @apply relative flex items-center py-2 font-bold cursor-pointer;

    &::before {
      content: '';
      @apply block w-4 h-4 mr-3 rounded-checkbox bg-grey-lighter dark:bg-grey-dark border border-grey-lighter transition-colors;

      [aria-selected='true'] input:not(:checked) + & {
        @apply border-purple-dark;
      }

      [aria-selected='true'] input:checked + & {
        @apply border-grey-darkest dark:border-grey-lightest;
      }

      input:checked + & {
        @apply bg-purple-dark border-purple-dark;
      }
    }

    &:hover::before {
      @apply border-purple-dark;
    }

    input:checked + & svg {
      @apply block;
    }
  }
}
