@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO Add nesting */
/* TODO Try to simplify components (can i split rules into files?) */

@layer base {
  html {
    @apply scroll-behaviour-smooth;
  }

  body {
    @apply text-body font-medium bg-grey-lightest dark:bg-grey-darker text-grey-darkest dark:text-white;
  }

  svg {
    fill: currentColor;
  }

  /* :focus:not(.focus-visible) {
    @apply outline-none;
  } */

  /* :focus {
    @apply outline;
  } */
}

@layer utilities {
  .scroll-behaviour-smooth {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply flex justify-center items-center h-12 px-4 md:px-6 text-body font-bold rounded-full transition-colors;
  }

  .btn-primary {
    @apply btn bg-purple-dark hover:bg-purple text-white;
  }

  .btn-secondary {
    @apply btn bg-grey-lightest-alt hover:bg-grey-lighter dark:bg-grey dark:hover:bg-white text-purple-light dark:text-grey-lighter;
  }

  .btn-save {
    @apply btn bg-grey-darker-alt hover:bg-grey-darkest dark:hover:bg-grey-dark text-grey-light dark:text-grey-lighter;
  }

  .btn-delete {
    @apply btn bg-red hover:bg-red-light text-white;
  }

  .label {
    @apply flex justify-between text-purple-light dark:text-grey-lighter mb-3;
  }

  .input {
    @apply w-full h-12 px-5 bg-white dark:bg-grey-dark border border-grey-lighter dark:border-grey focus:border-purple font-bold text-left rounded-input placeholder-opacity-40 transition-colors;
  }

  .dropdown {
    @apply z-10 absolute top-full left-0 transform translate-y-6 bg-white dark:bg-grey shadow-dropdown dark:shadow-dropdown-dark rounded-dropdown;
  }

  .arrow {
    @apply grid place-items-center w-12 h-12 absolute top-arrow;
  }

  .error {
    @apply text-error text-red font-semibold;
  }

  .list-item {
    list-style-type: '– ';
    @apply list-inside;
  }

  .legend {
    @apply font-bold text-purple-dark mb-6;
  }

  .form {
    @apply grid grid-cols-2 md:grid-cols-3 gap-6;
  }

  .checkbox {
    @apply relative flex items-center mb-4 last:mb-0 font-bold cursor-pointer;
  }

  .checkbox::before {
    content: '';
    @apply block w-4 h-4 mr-3 rounded-checkbox bg-grey-lighter dark:bg-grey-dark border border-grey-lighter transition-colors;
  }

  .checkbox:hover::before {
    @apply border-purple-dark;
  }

  input:focus + .checkbox::before {
    @apply border-purple-dark;
  }

  input:checked + .checkbox::before {
    @apply bg-purple-dark border-purple-dark;
  }

  input:checked + .checkbox svg {
    @apply block;
  }

  .datepicker {
    @apply relative;
  }

  .datepicker .DayPicker {
    @apply text-body font-bold;
  }

  .datepicker .DayPicker-wrapper {
    @apply pb-0;
  }

  .datepicker .DayPicker-Month {
    @apply m-0;
  }

  .datepicker .DayPicker-Caption {
    @apply px-1 mb-6 text-center;
  }

  .datepicker .DayPicker-Body {
    font-size: 0;
  }

  .datepicker .DayPicker-Day {
    @apply p-2 text-body text-grey-darkest dark:text-grey-lighter transition-colors;
  }

  .datepicker .DayPicker-Day--today {
    @apply text-grey-darkest dark:text-grey-lighter;
  }

  .datepicker .DayPicker-Day--outside {
    @apply text-grey-darkest dark:text-grey-lighter text-opacity-10;
  }

  .datepicker .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    @apply text-purple-dark bg-transparent;
  }

  .datepicker
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    @apply text-purple-dark bg-transparent;
  }

  .datepicker
    .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    @apply text-purple-dark bg-transparent;
  }

  .popup-overlay {
    @apply absolute inset-0 bg-black bg-opacity-50 opacity-0 transition-opacity;
  }

  .popup-overlay:not(.popup-overlay--sidebar) {
    @apply z-30 grid place-items-center px-6;
  }

  .popup-overlay--sidebar {
    @apply z-10;
  }

  .popup-overlay--after-open {
    @apply opacity-100;
  }

  .popup-overlay--before-close {
    @apply opacity-0;
  }

  .popup-overlay--before-close:not(.popup-overlay--sidebar) {
    @apply duration-300;
  }

  .popup-overlay--before-close.popup-overlay--sidebar {
    @apply duration-300 delay-700;
  }

  .popup-content {
    @apply relative inline-block bg-white dark:bg-grey-darker overflow-hidden transform transition-transform;
  }

  .popup-content:not(.popup-content--sidebar) {
    @apply max-h-full rounded-popup scale-90;
  }

  .popup-content--sidebar {
    @apply h-full rounded-r-sidebar -translate-x-full duration-500 delay-150;
  }

  .popup-content--after-open:not(.popup-content--sidebar) {
    @apply scale-100;
  }

  .popup-content--before-close:not(.popup-content--sidebar) {
    @apply scale-90 duration-300;
  }

  .popup-content--after-open.popup-content--sidebar {
    @apply translate-x-0;
  }

  .popup-content--before-close.popup-content--sidebar {
    @apply -translate-x-full duration-700;
  }

  .status {
    @apply flex items-center justify-center w-26 h-10 rounded-status font-bold;
  }

  .status::before {
    content: '';
    @apply w-2 h-2 rounded-full mr-2 bg-current;
  }

  .status-paid {
    @apply status text-green bg-green bg-opacity-5;
  }

  .status-pending {
    @apply status text-orange bg-orange bg-opacity-5;
  }

  .status-draft {
    @apply status text-grey-darker-alt bg-grey-darker-alt bg-opacity-5 dark:text-grey-lighter dark:bg-grey-lighter dark:bg-opacity-5;
  }

  .invoice {
    @apply bg-white text-grey-darkest dark:bg-grey-dark dark:text-white rounded-invoice shadow-invoice;
  }

  .invoice-label {
    @apply text-purple-light dark:text-grey-lighter mb-3;
  }

  .invoice-value {
    @apply font-bold text-invoice;
  }

  .invoice-address {
    @apply text-purple-light dark:text-grey-lighter text-small;
  }

  .invoice-price::before {
    content: 'x';
    @apply mx-1 md:hidden;
  }
}
